* {
  margin: 0;
  padding: 0;
}
html{
       font-family: 'Poppins', 'Quicksand', sans-serif;
}
header {
    display: flex;
    border: 1px solid silver;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    color: #787878;
    box-sizing: border-box;

}

h1 {
    padding-left: 1rem;
    font-size: 1.5rem;
}

.navbar, 
.navbar-list,
.nav-item,
.nav-item a,
.nav-item a:visited, {
    height: 100%;    
    }

.navbar-list {
    display: flex; 
}

.nav-item {
    border-left : 1px solid silver;
    padding: 0 10px;
}

.nav-item,
.dropdown-item {
    list-style-type: none;
}

.nav-item a,
.nav-item a:visited,
.dropdown-item a,
.dropdown-item a:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.menu-icon {
    vertical-align:middle;
    height: 1rem;
}


/*Dropdown menu*/
.dropdown-list {
    width: 13rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid silver;
}

.dropdown-item a{
    width: 2.5rem;
    flex-direction: column;
    padding: 4px 8px;
    border: 1px solid silver;
    margin: 4px;
}

.dropdown-icon {
    height: 2.5rem;
}
